@media (max-width: 1500px) {
   .hero-text {
      font-size: 55px;
      line-height: 65px;
   }
}

@media (max-width: 1310px) {
   .hero-section-image::before {
      height: 15%;
   }

   .hero-section-image::after {
      bottom: 60%;
      height: 12%;
      width: 12%;
      right: 20%;
   }
   .testimonial-item {
      padding: 50px;
   }
   .review-details {
      font-size: 25px;
      line-height: 30px;
   }
   .client-count-inner {
      font-size: 40px;
      line-height: 45px;
      padding: 100px;
   }
   img.reviewer.second {
      right: 30px;
      top: 40px;
   }

   img.reviewer.third {
      right: 30px;
      bottom: 40px;
   }

   img.reviewer.fourth {
      top: -40px;
   }

   img.reviewer.fifth {
      bottom: -30px;
   }
   #dp-slider,
   .dp-img img {
      height: 330px;
      width: 650px;
   }
   .dp-content,
   .dp-img {
      text-align: left;
      height: 330px;
      width: 650px;
   }
   .view-products-btn {
      margin-top: 30px;
   }
   .hero-section-padding {
      padding-top: 50px;
   }
   .hero-slider-container {
      margin-top: 50px;
   }
}
@media (max-width: 1120px) {
   #client-slider .slick-prev {
      left: -80px !important;
   }

   #client-slider .slick-next {
      right: -80px !important;
   }
}
@media (max-width: 992px) {
   .hero-section-image::before {
      height: 15%;
   }

   .testimonial-container {
      margin: 120px 0px;
   }

   .hero-section-image::after {
      bottom: 60%;
      height: 12%;
      width: 12%;
      right: 20%;
   }

   .center-of-orbit img {
      height: 100px;
      width: 100px;
      padding: 20px;
   }

   .inner-orbit,
   .outer-orbit {
      padding: 50px;
   }
   img.paypal {
      height: 50px;
      width: 50px;
      padding: 20px;
      top: -30px;
   }

   img.drupal {
      height: 35px;
      width: 35px;
      padding: 10px;
      left: 15px;
      top: 20px;
   }

   img.paytm {
      height: 35px;
      width: 35px;
      padding: 10px;
      top: 40%;
   }

   img.jazzcash {
      padding: 10px;
      height: 40px;
      width: 40px;
   }

   img.googlepay {
      padding: 10px;
      height: 30px;
      width: 30px;
   }

   img.instamojo {
      padding: 10px;
      height: 45px;
      width: 45px;
      right: -20px;
   }

   img.flutter {
      padding: 10px;
      height: 35px;
      width: 35px;
   }

   img.bank {
      padding: 10px;
      height: 40px;
      width: 40px;
      right: 20px;
      bottom: 20px;
   }

   img.stripe {
      padding: 10px;
      width: 45px;
      height: 45px;
      left: 30px;
      bottom: 10px;
   }
   .client-count-inner {
      padding: 50px;
   }
   .client-count-container {
      padding: 80px;
      padding-left: 0;
   }
   img.reviewer.first {
      height: 55px;
      width: 55px;
   }

   img.reviewer.second {
      right: 80px;
      top: 0px;
      height: 45px;
      width: 45px;
   }

   img.reviewer.third {
      position: absolute;
      right: 80px;
      bottom: 0px;
      height: 45px;
      width: 45px;
   }

   img.reviewer.fourth {
      left: 40%;
      top: -20px;
      height: 35px;
      width: 35px;
   }

   img.reviewer.fifth {
      left: 40%;
      bottom: -20px;
      height: 35px;
      width: 35px;
   }
   #dp-slider,
   .dp-img img {
      height: 280px;
      width: 550px;
   }
   .dp-content,
   .dp-img {
      text-align: left;
      height: 280px;
      width: 550px;
   }
   .hero-text {
      padding-right: 10%;
   }
   .payment-gateway-section {
      margin-top: 250px;
   }
   .review-author-container {
      min-width: auto;
   }
   .padding-container {
      padding: 0 15%;
   }
   .slider-container {
      padding-top: 35px;
      padding-bottom: 50px;
   }
}

@media (max-width: 767px) {
   .card-list-header-img {
      width: 150px;
      height: auto;
      position: absolute;
      top: 10px;
      left: -50px;
   }

   .top-logo {
      width: 120px;
   }
   .vault-image {
      padding: 20px;
   }
   .software-collection-section {
      margin: 0 !important;
      border-radius: 10px;
   }
   .footer-section-title,
   .contact-info-row .phone,
   .contact-info-row .email,
   .social-media-container {
      justify-content: center;
   }
   .footer-payment-method {
      margin: 30px auto;
   }
   .hero-text {
      font-size: 50px;
      line-height: 55px;
   }
   .card-list-header-img {
      display: none;
   }
   .card-image-container {
      margin-left: 0;
      justify-content: center;
   }
   .card-list-header {
      border-radius: 24px;
   }
   footer {
      margin-top: 100px;
   }
   #dp-slider,
   .dp-img img {
      height: 200px;
      width: 400px;
   }
   .dp-content,
   .dp-img {
      text-align: left;
      height: 200px;
      width: 400px;
   }
   .hero-section-padding {
      padding-bottom: 150px;
   }
   .payment-gateway-section {
      margin-top: 220px;
   }
   .payment-gateway-card {
      margin: 0 10%;
   }
   .card-info h3 {
      padding-bottom: 20px;
   }
}

@media (max-width: 576px) {
   .footer-payment-method {
      grid-template-columns: repeat(2, 1fr);
   }
   .center-of-orbit img {
      height: 80px;
      width: 80px;
      padding: 15px;
   }

   .inner-orbit,
   .outer-orbit {
      padding: 40px;
   }
   img.paypal {
      padding: 10px;
      top: -30px;
   }

   img.jazzcash {
      height: 30px;
      width: 30px;
   }

   img.instamojo {
      right: -20px;
      top: 50px;
   }

   img.bank {
      height: 30px;
      width: 30px;
   }

   img.stripe {
      width: 40px;
      height: 40px;
      left: 0px;
      bottom: 20px;
   }
   .review-start-container img {
      width: 30px;
   }

   .review-start-container {
      margin-bottom: 20px;
   }
   .review-details {
      font-size: 20px;
      line-height: 25px;
   }
   .author .name {
      font-size: 18px;
      line-height: 20px;
   }

   .author .designation {
      font-size: 15px;
      line-height: 18px;
   }

   .review-author-container img {
      width: 40px;
      height: 40px;
   }
   .client-review-container {
      margin-left: 0px;
      border-radius: 0;
   }
   #dp-slider,
   .dp-img img {
      height: 160px;
      width: 310px;
   }
   .dp-content,
   .dp-img {
      text-align: left;
      height: 160px;
      width: 310px;
   }
   .dp_item {
      border-radius: 15px;
   }
   .hero-text {
      font-size: 35px;
      line-height: 40px;
   }
   .view-products-btn {
      font-size: 15px;
      padding: 8px 20px;
      margin-top: 20px;
   }
   #dp-dots li {
      height: 8px;
      width: 8px;
   }
   .payment-gateway-section {
      margin-top: 180px;
   }
   .card-info h3 {
      font-size: 30px;
      line-height: 35px;
   }
}

@media (max-width: 420px) {
   #dp-slider,
   .dp-img img {
      height: 120px;
      width: 250px;
   }
   .dp-content,
   .dp-img {
      text-align: left;
      height: 120px;
      width: 250px;
   }
   .hero-text {
      font-size: 25px;
      line-height: 30px;
   }
   .hero-section-padding {
      padding-bottom: 100px;
   }
}
