/* importing required fonts */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500&display=swap");

/* universal style */
* {
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
}

/* container */
.container-custom {
   max-width: 1920px;
}

.padding-container {
   padding: 0 10%;
}

.margin-left {
   margin-left: 10% !important;
}

.margin-right {
   margin-right: 10% !important;
}

body {
   background: #eff5fc;
}

/* style */

.padding-left {
   padding-left: 10%;
}

.padding-right {
   padding-right: 10%;
}

.top-logo {
   width: 200px;
}

.login-signup-btn,
.view-products-btn,
.more-info-btn {
   background: #4277ff;
   border-radius: 12px;
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   color: #ffffff;
   padding: 15px 25px;
   border: none;
   display: inline-block;
}

.view-products-btn {
   margin-top: 50px;
}

.hero-section {
   background-image: url("./res/hero-section/bg.png");
   background-size: cover;
   background-position: right;
   background-repeat: no-repeat;
   border-radius: 0px 0px 50% 50%;
}

.hero-text {
   font-family: "Asap";
   font-style: normal;
   font-weight: 700;
   font-size: 64px;
   line-height: 88px;
   color: #5c6574;
}
.hero-text-highlight-1 {
   position: relative;
}

span.hero-text-highlight-1::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 10px;
   width: 100%;
   background: rgba(252, 198, 60, 0.5);
   border-radius: 41px;
   z-index: -1;
   height: 19px;
}

.hero-text-highlight-2 {
   position: relative;
}

span.hero-text-highlight-2::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 10px;
   width: 100%;
   background: rgba(54, 237, 171, 0.5);
   border-radius: 41px;
   z-index: -1;
   height: 19px;
}

.nav-item .nav-link {
   font-size: 20px;
   font-weight: 500;
   font-family: "Asap";
}

.hero-section-image {
   position: relative;
}

.hero-section-image::before {
   content: "";
   height: 30%;
   width: 50%;
   background-image: url("./res/hero-section/animated element.png");
   filter: drop-shadow(-7px 7px 4px rgba(124, 42, 248, 0.1));
   transform: rotate(9deg);
   position: absolute;
   top: 15%;
   left: 20%;
   z-index: 1;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   animation: heroImageAnimation 1s infinite;
}

.hero-section-image::after {
   content: "";
   height: 20%;
   width: 20%;
   background-image: url("./res/hero-section/animated element2.png");
   position: absolute;
   bottom: 42%;
   right: 15%;
   z-index: 1;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   animation: heroImageAnimation 1s infinite;
}

@keyframes heroImageAnimation {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.1);
   }
   100% {
      transform: scale(1);
   }
}

/* Payment gateway css */

/* payment gateway */

.card-list-header {
   background: #e4e7eb;
   border-radius: 42px 19px 24px 24px;
   position: relative;
   padding: 20px;
}

.card-list-header-img {
   width: 215px;
   height: 120px;
   position: absolute;
   top: -25px;
   left: -90px;
}
.card-image-container {
   margin-left: 100px;
}

.card-image-container img {
   padding-left: 8px;
   padding-right: 8px;
   width: 70px;
   height: 50px;
   box-sizing: content-box;
}

.card-support {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   text-align: right;
   color: #4277ff;
   padding-top: 13px;
}

.card-info h3 {
   font-family: "Asap";
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 60px;
   color: #495264;
   padding: 50px 0px;
}

.card-info p {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   color: #3f4654;
   margin-bottom: 45px;
}

.center-of-orbit {
   background: #ffffff;
   box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
   border-radius: 300px;
   width: fit-content;
}

.center-of-orbit img {
   width: 180px;
   height: 180px;
   object-fit: contain;
   padding: 40px;
   box-sizing: content-box;
}

.inner-orbit {
   background: #ffffff1a;
   box-shadow: 0px 4px 100px RGBA(0, 0, 0, 0.05);
   border-radius: 300px;
   padding: 100px;
   object-fit: contain;
   width: fit-content;
}

.outer-orbit {
   background: #ffffff33;
   border: 1px solid RGBA(56, 194, 238, 0.2);
   border-radius: 500px;
   padding: 100px;
   object-fit: contain;
   width: fit-content;
}

.center-orbit,
.inner-orbit,
.outer-orbit {
   position: relative;
}

img.paypal {
   position: absolute;
   top: -100px;
   right: 50px;
   background: #ffffff;
   width: 125px;
   height: 125px;
   object-fit: contain;
   padding: 50px;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
}

img.stripe {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 85px;
   height: 85px;
   padding: 20px;
   left: 130px;
   bottom: -10px;
}

img.bank {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 85px;
   height: 85px;
   padding: 20px;
   right: 70px;
   bottom: 30px;
}

img.instamojo {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 85px;
   height: 85px;
   padding: 20px;
   right: -50px;
   top: 200px;
}

img.jazzcash {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 70px;
   height: 70px;
   padding: 20px;
   left: 60px;
   top: -20px;
}

img.paytm {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 70px;
   height: 70px;
   padding: 20px;
   left: -20px;
   top: 60%;
}

img.flutter {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 70px;
   height: 70px;
   padding: 20px;
   right: 30%;
   bottom: -50px;
}

img.googlepay {
   position: absolute;
   background: #ffffff;
   object-fit: contain;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
   width: 55px;
   height: 55px;
   padding: 20px;
   right: -20px;
   top: 70px;
}

img.drupal {
   position: absolute;
   top: 120px;
   left: -50px;
   background: #ffffff;
   width: 65px;
   height: 65px;
   object-fit: contain;
   padding: 30px;
   box-sizing: content-box;
   border-radius: 50%;
   z-index: 1;
}
img.paypal:hover,
img.stripe:hover,
img.bank:hover,
img.instamojo:hover,
img.jazzcash:hover,
img.paytm:hover,
img.flutter:hover,
img.googlepay:hover,
img.drupal:hover {
   transform: rotateZ(360deg);
   transition: 0.5s ease-in-out;
}

.testimonial-container,
.dashboard-preview-container {
   margin: 200px 0px;
}

button.slick-arrow.slick-prev::before,
button.slick-arrow.slick-next::before {
   height: 70px;
   width: 70px;
   padding: 10px;
   background: #4277ff;
   border-radius: 50%;
}

.client-list-title {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   color: #3f4654;
}

.single-client {
   background: #ffffff;
   border: 1px solid rgba(63, 70, 84, 0.1);
   border-radius: 20px;
}

.slick-slide {
   padding: 0 10px;
}

.slick-prev {
   left: -45px !important;
}

.slider-container {
   background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 3.39%,
      #ffffff 49.96%,
      rgba(255, 255, 255, 0) 96.54%
   );
   padding-top: 35px;
   padding-bottom: 70px;
}

.software-collection-section {
   background: linear-gradient(60.06deg, #4277ff -11.48%, #0657d0 159.3%);
   border-radius: 10px 0px 0px 10px;
   padding: 0px;
   position: relative;
   margin: 250px 0px;
}

.man-with-mike {
   position: absolute;
   bottom: 20px;
   right: 0%;
   height: 400px;
   width: auto;
}

.software-collection-info h4,
.software-collection-info p {
   margin: 0;
}

.software-collection-info p {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
}

.software-collection-info h4 {
   font-family: "Asap";
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   line-height: 46px;
   color: #ffffff;
}

.view-all-btn {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   border-radius: 12px;
   color: #5c6574;
   background: #ffffff;
   padding: 15px 25px;
   border: none;
}

.vault-image {
   padding: 60px 0px;
}

/* footer section */

footer {
   padding-top: 125px !important;
   background: #ffffff;
   border-radius: 0px 110px 0px 0px;
   padding-left: 12px;
   padding-right: 12px;
}

.footer-section-title {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   display: flex;
   align-items: center;
   color: #5c6574;
   margin-bottom: 50px;
}

.about-company {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   display: flex;
   align-items: center;
}

.contact-info-row {
   margin-top: 20px;
}

.contact-info-row .phone img,
.contact-info-row .email img {
   padding-right: 10px;
}
.contact-info-row .phone,
.contact-info-row .email {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #5c6574;
}

.support-zone-links ul,
.quick-link-links ul {
   padding-left: 0px;
}

.support-zone-links ul li,
.quick-link-links ul li {
   list-style: none;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 30px;
}

.support-zone-links ul li a,
.quick-link-links ul li a {
   text-decoration: none;
   color: #5c6574;
}

.subscribe-form-container {
   background: #ffffff;
   border: 1px solid #ffffff;
   box-shadow: -12px 16px 34px rgba(0, 0, 0, 0.08);
   border-radius: 8px;
   padding: 4px;
   padding-right: 0px;
   display: flex;
}

.subscribe-form-container input:focus-visible {
   outline: none;
}

.subscribe-form-container input {
   padding: 10px 22px;
   border: none;
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   letter-spacing: 0.005em;
   color: #9f8ea9;
   width: 75%;
}
.subscribe-form-container button {
   background: #4277ff;
   border-radius: 6px;
   font-family: "Signika", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #ffffff;
   padding: 10px 22px;
   border: none;
   width: 25%;
}

.no-spam {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 21px;
   text-align: center;
   letter-spacing: 0.005em;
   color: #9f8ea9;
   padding-top: 10px;
   text-align: left;
   padding-left: 20px;
}

.follow-us-title {
   margin: 50px 0px;
   margin-bottom: 25px;
}

.social-media-container {
   display: flex;
}

.social-media-container .item {
   background: #ffffff;
   border-radius: 30px;
   padding: 13px;
   margin-right: 20px;
   height: 50px;
   width: 50px;
   box-shadow: -5px 5px 15px #d3d3d34f;
}

.footer-payment-method {
   grid-template-columns: repeat(4, 1fr);
   column-gap: 20px;
   row-gap: 20px;
   width: fit-content;
   margin-top: 50px;
}

.important-link-and-right {
   margin-top: 100px;
}
.important-link-and-right .right {
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   align-items: center;
}

.important-link-and-right .links li {
   list-style: none;
   float: left;
   padding-right: 36px;
}

.important-link-and-right .links li a {
   text-decoration: none;
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #3f4654;
}

/* Testimonial Style */

.testimonial-container {
   margin: 300px auto;
}

.client-count-container {
   border: 2px dashed RGBA(92, 101, 116, 0.29);
   padding: 110px;
   border-radius: 0 800px 800px 0;
   position: relative;
   padding-left: 0px;
}
.client-count-inner {
   background: #ffffff;
   box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.1);
   border-radius: 0 800px 800px 0;
   font-family: "Asap";
   font-style: normal;
   font-weight: 700;
   font-size: 72px;
   line-height: 100px;
   padding: 130px;
}

.client-count-container .count {
   color: #4277ff;
}

.client-review-container {
   background: #ffffff;
   box-shadow: 8px 9px 141px rgba(0, 0, 0, 0.1);
   border-radius: 90px 0px 0px 90px;
}

.review-details {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 52px;
   margin-bottom: 30px;
}

.testimonial-item {
   padding: 80px 100px;
   position: relative;
}

.review-start-container {
   margin-bottom: 50px;
}

.review-author-container {
   background: #ffffff;
   border-radius: 76px;
   width: fit-content;
   filter: drop-shadow(0px 4px 57px rgba(0, 0, 0, 0.1));
   padding: 15px;
}

.client-review-container {
   margin-left: 50px;
}

.star-item {
   margin-right: 15px;
}

.author {
   margin-left: 15px;
}

.author .name {
   font-family: "Asap";
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 46px;
   text-transform: uppercase;
   color: #5c6574;
}

.author .designation {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
}

/* Testimonial reviewer */

img.reviewer.active {
   border: 4px solid #ffffff;
   box-shadow: 0px 4px 50px 4px rgba(41, 55, 105, 0.37);
   border-radius: 100px;
   transform: matrix(-1, 0, 0, 1, 0, 0);
}

.prev-btn {
   background: #3c65f6;
}

img.reviewer.first {
   position: absolute;
   right: -35px;
   top: 50%;
   transform: translateY(-50%);
}

img.reviewer.second {
   position: absolute;
   right: 50px;
   top: 100px;
}

img.reviewer.third {
   position: absolute;
   right: 50px;
   bottom: 100px;
}

img.reviewer.fourth {
   position: absolute;
   right: 40%;
   top: -20px;
}

img.reviewer.fifth {
   position: absolute;
   right: 40%;
   bottom: -20px;
}

img.reviewer {
   border: 4px solid transparent;
   border-radius: 50%;
}
img.reviewer:hover {
   cursor: pointer;
   border: 4px dashed gray;
}

.review-next-previous-btn {
   position: absolute;
   bottom: -20px;
   right: 10%;
}

.review-next-previous-btn .btn-group .btn {
   padding: 10px 35px;
}

/* Dashboard preview section */

.preview-container {
   position: relative;
   margin: 100px 0;
}

.preview-option-panel {
   background: #2c3341;
   border-radius: 37px;
   width: fit-content;
   padding: 40px;
   box-shadow: 10px 23px 50px rgba(0, 0, 0, 0.08);
   border-left: 10px solid #4277ff;
}
.panel-title {
   font-family: "Asap";
   font-style: normal;
   font-weight: 500;
   font-size: 32px;
   line-height: 37px;
   text-align: center;
   color: #4277ff;
   margin-bottom: 35px;
}

.panel-tab-container {
   position: relative;
}
.panel-tab-container .nav-tabs {
   justify-content: space-between;
   border-bottom: none;
}

.panel-tab-container .nav-tabs .nav-link {
   background: #2e3a54;
   border: 0.5px solid #4277ff;
   border-radius: 21px;
   margin: 10px 5px;
   padding: 5px 20px;
}
.panel-tab-container .nav-tabs .nav-link.active {
   background: #4277ff;
   border-radius: 21px;
   color: #fff;
   border-color: #4277ff;
}

.panel-tab-container .nav-tabs .nav-link:hover,
.panel-tab-container .nav-tabs .nav-link:focus {
   color: #fff;
   border-color: transparent;
}

.panel-tab-container::before {
   content: "";
   height: 2px;
   width: 80%;
   background: #4277ff;
   z-index: 1;
   position: absolute;
   left: 10%;
   top: 50%;
   transform: translateY(50%);
}

.panel-tab-container .nav-tabs .nav-link {
   z-index: 2;
}

.preview-item-list-container .preview-item.nav-link {
   background: rgba(66, 119, 255, 0.1);
   border-radius: 10px;
   font-family: "Asap";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   color: #4277ff;
   display: block;
   padding: 20px;
   width: 100%;
   border: none;
   margin-bottom: 22px;
}

.preview-item-list-container .nav-tabs {
   border-bottom: none;
}

.tab-content {
   margin-top: 40px;
}

.tab-content.preview-slider {
   width: 80%;
   margin-left: 20%;
}

.preview-item-list-container .nav-tabs .nav-link.active {
   background: #4277ff;
   color: #fff;
}

.preview-option-panel {
   position: absolute;
   top: 100px;
   left: 110px;
   z-index: 1;
}

.preview-slider {
   background: #3c65f6;
   border-radius: 73px 0px 0px 73px;
   padding: 64px 0;
   color: #fff;
}

h2.preview-slider-title {
   font-family: "Asap";
   font-style: normal;
   font-weight: 700;
   font-size: 48px;
   line-height: 60px;
   text-align: center;
}

p.preview-slider-description {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 30px;
   text-align: center;
   color: #ffffff;
   opacity: 0.8;
}
.preview-slider-title,
.preview-slider-description {
   width: 80%;
   margin-left: 20%;
}
.dashboard-preview-slider .slick-slide {
   padding: 1px;
}
.dashboard-preview-slider .slick-dots {
   bottom: -50px !important;
}
.dashboard-preview-slider .slick-dots li.slick-active button:before {
   color: #fff;
}
